.wrapper {
    width: 220px;
    padding: 8px;
}

.wrapper nav {
    display: flex;
    flex-direction: column;
}

.LinkContainer {
    display: flex;
    flex: 1;
    height: 40px;
    padding: 10px;
    gap: 12px;
    align-items: center;
    text-decoration-line: none;
    color: inherit;
}

.LinkContainer img {
    width: 23px;
    height: 23px;
}

.LinkContainer span {
    font-size: 16px;
}
