.calendar {
    width: 100%;
    /* sidebar까지 고려한 width임 */
    min-width: 500px;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    user-select: none;
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    height: 24px;
    padding-bottom: 24px;
}

.header span {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
}

.switchButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.switchButton > div {
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.switchButton > div:hover {
    background-color: #ededed;
    border-radius: 4px;
}

.switchButton > div:active {
    background-color: #dfe3e8;
}

.switchButton svg {
    display: block;
}

.body {
    flex: 1; /* 헤더 제외한 영역 전체 차지 */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: start;
    font-size: 12px;
    padding-bottom: 2px;
}

.weekdays > div {
    padding-left: 4px; /* 원하는 만큼 조절 */
}

.weeks {
    flex: 1;
    display: grid;
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    text-align: end;
    padding: 16px 6px 6px 6px;
    border-top: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}

.day > span {
    padding: 2px 4px;
    border-radius: 4px;
}

.day > span:hover {
    background-color: #ededed;
}

.day > span.today:hover {
    background-color: #f04842;
    color: white;
    cursor: default;
}

.outside {
    color: #b2b2b2;
}

.today {
    color: white;
    font-weight: 500;
    background-color: #f04842;
}

.weekend {
    background-color: #fcfcfc;
}
